<div class="container">
	<div class="row my-2 mx-0 pt-5">
		<div class="col-xs-12 col-sm-4 col-lg-3 text-center" *ngIf="user">
			<img src="//placehold.it/150" class="mx-auto rounded" alt="avatar">
			<p class="mt-2">Olá, {{user.name.split(' ')[0]}}!</p>
		</div>
		<div class="col-xs-12 col-sm-8 col-lg-9">
			<tabset #tabs>
				<tab heading="Perfil" (select)="router.navigate(['/profile'])">
					<div class="tab-pane" *ngIf="user">
						<div class="p-4">
							<h3 class="mb-5">Seja Bem-Vindo, {{user.name}}!</h3>
							<div class="row mx-0">
								<div class="col-sm-12">
									<h4 class="mb-3">Seus Dados:</h4>
									<div class="row mx-0">
										<div class="col-sm-3">
											<strong>CPF:</strong>
										</div>
										<div class="col-sm-9">
											{{user.cpf}}
										</div>
									</div>
									<div class="row mx-0">
										<div class="col-sm-3">
											<strong>RG:</strong>
										</div>
										<div class="col-sm-9">
											{{user.rg}}
										</div>
									</div>
									<div class="row mx-0">
										<div class="col-sm-3">
											<strong>Endereço:</strong>
										</div>
										<div class="col-sm-9">
											{{user.address}}
										</div>
									</div>
									<div class="row mx-0">
										<div class="col-sm-3">
											<strong>Email:</strong>
										</div>
										<div class="col-sm-9">
											{{user.email}}
										</div>
									</div>
									<div class="row mx-0 pt-4">
										<div class="col-sm-4">
											<h5>Chave Pública:</h5>
										</div>
									</div>
									<div class="row">
										<div class="col-sm-12">
											<img id="qrcode" [src]="user.pubkeyurl">
										</div>
										<div class="mx-4 px-2 card bg-secondary text-white">
											{{user.pubkey}}
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</tab>
				<tab heading="Contratos" (select)="router.navigate(['/contracts'])">
					<div class="tab-pane" *ngIf="user">
						<div class="p-3">
							<h4>Contratos Pendentes</h4>
							<table class="table table-hover table-striped mt-3" *ngIf="!loadingPending">
								<thead>
									<tr>
										<th>Contrato ID</th>
										<th>Tipo</th>
										<th>Contraparte</th>
										<th>Ação</th>
									</tr>
								</thead>
								<tbody>
									<tr *ngFor="let c of pendingContracts">
										<td><a href="javascript:void(0);" (click)="selectContract(c); contractModal.show()" tooltip="Clique para ver este contrato">{{c._id}}</a></td>
										<td>{{c.type == 'c2c' ? 'Pessoas Físicas' : (c.type == 'cev' ? 'Compra & Venda' : (c.type == 'cue' ? 'União Estável' : 'Casamento'))}}</td>
										<td>{{getCounterpart(c).user.name}}</td>
										<td>
											<span *ngIf="c.type=='cev' && c.buyerOk && c.sellerOk">Aguardando Pagamento...</span>
											<button class="btn btn-success"  (click)="accept(c)" *ngIf="!getMe(c).accepted" [disabled]="user.verified != 'verified'">Aceitar</button>
											<button class="btn btn-danger ml-2" (click)="refuse(c)" [disabled]="user.verified != 'verified'" *ngIf="c.type != 'cev' || (!c.buyerOk || !c.sellerOk)">{{getMe(c).accepted?'Cancelar':'Rejeitar'}}</button>
										</td>
									</tr>
								</tbody>
							</table>
							<div class="text-center" *ngIf="loadingPending">
								<i class="fas fa-spinner fa-pulse fa-3x"></i>
							</div>
						</div>
						<div class="p-3">
							<h4>Contratos Celebrados</h4>
							<table class="table table-hover table-striped mt-3" *ngIf="!loadingCelebrated">
								<thead>
									<tr>
										<th>Contrato ID</th>
										<th>Tipo</th>
										<th>Contraparte</th>
										<th>Celebrado em</th>
									</tr>
								</thead>
								<tbody>
									<tr *ngFor="let c of myContracts">
										<td><a href="javascript:void(0);" (click)="selectContract(c); contractModal.show()" tooltip="Clique para ver este contrato">{{c._id}}</a></td>
										<td>{{c.type == 'c2c' ? 'Pessoas Físicas' : (c.type == 'cev' ? 'Compra & Venda' : (c.type == 'cue' ? 'União Estável' : 'Casamento'))}}</td>
										<td>{{getCounterpart(c).user.name}}</td>
										<td>{{c.celebrationDate}}</td>
									</tr>
								</tbody>
							</table>
							<div class="text-center" *ngIf="loadingCelebrated">
								<i class="fas fa-spinner fa-pulse fa-3x"></i>
							</div>
							<div class="btn-group" dropdown [isDisabled]="user.verified != 'verified'">
								<button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
									Novo Contrato <span class="caret"></span>
								</button>
								<ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu">
									<li role="menuItem"><a class="dropdown-item" routerLink="/c2c">Pessoa Física</a></li>
									<li role="menuItem"><a class="dropdown-item" routerLink="/cev">Compra &amp; Venda</a></li>
									<li role="menuItem"><a class="dropdown-item" routerLink="/cue">União Estável</a></li>
									<li role="menuItem"><a class="dropdown-item" routerLink="/cc">Casamento</a></li>
								</ul>
							</div>
						</div>
					</div>
				</tab>
			</tabset>
		</div>
	</div>
</div>
<app-contract-modal #contractModal [user]="user" [selectedContract]="selectedContract" [selectedPart1]="selectedPart1" [selectedPart2]="selectedPart2" (onAccept)="onAccept($event)" (onRefuse)="onRefuse($event)"></app-contract-modal>
<div class="modal fade" bsModal #parentsModal="bs-modal" tabindex="-1" (onHide)="unsubscribe()">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title pull-left">Precisamos de alguns dados:</h4>
				<button type="button" class="close pull-right" (click)="parentsModal.hide();">
					<span>&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="container text-center card p-3">
					<form (ngSubmit)="onSubmit()" #parentsForm="ngForm">
						<div class="form-group row">
	                        <label for="father" class="col-sm-3 col-form-label">Nome do seu pai:</label>
	                        <div class="col-sm-9">
	                            <input id="father" type="text" class="form-control" name="father" placeholder="Nome do Pai" [(ngModel)]="father" required>
	                        </div>
	                    </div>
	                    <div class="form-group row">
	                        <label for="mother" class="col-sm-3 col-form-label">Nome da sua mãe:</label>
	                        <div class="col-sm-9">
	                            <input id="mother" type="text" class="form-control" name="mother" placeholder="Nome da Mãe" [(ngModel)]="mother" required>
	                        </div>
	                    </div>
						<div class="text-right mt-3">
                            <button type="submit" class="btn btn-primary">Enviar</button>
                        </div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
