<% include ./partials/header %>
<div class="masthead container-fluid">
  <div class="intro-text">
    <div class="intro-lead-in">Simplificando a burocracia</div>
    <a class="btn btn-primary btn-xl text-uppercase " href="/proposta">Saber Mais</a>
  </div>
</div>
<% include ./partials/footer %>
