<% include ./partials/header %>
<div class="masthead" style="width: 100%; height: 100%">
      <div class="container">
        <div class="intro-text">
          <div class="intro-lead-in">Simplificando a burocracia</div>
          <a class="btn btn-primary btn-xl text-uppercase " href="/proposta">Saber Mais</a>
        </div>
      </div>
</div>
<% include ./partials/footer %>