<% include ./partials/header %>
<% if(Swalflag){ %>
<script type="text/javascript">
	sweetAlert(":D","<%= message %>", "success");
</script>
<% } %>
<div class="masthead container-fluid">
	<!-- <div class="intro-text">
		<div class="intro-lead-in">Consequat cillum cillum proident.</div>
		<a class="btn btn-primary btn-xl text-uppercase " href="/proposta">Lorem</a>
		
	</div> !-->
</div>
<% include ./partials/footer %>