<% include ./partials/header %>
<div class="masthead container-fluid blured">
	<!-- Top content -->
	<div class="top-content">
		
		<div class="inner-bg">
			<div class="container">
				<div class="row">
					<div class="col-sm-12 form-box2">
						<div class="form-bottom2">
							<form role="form" action="" method="post" class="registration-form">
								<div class="form-group">
									<label class="sr-only" for="form-first-name">PubKey</label>
									<input type="text" name="pbkey" placeholder="Pubkey..." class="form-first-name form-control" id="form-first-name">
								</div>
								<div class="form-group">
									<label class="sr-only" for="form-last-name">PrivKey</label>
									<input type="password" name="pvkey" placeholder="PrivKey..." class="form-last-name form-control" >
								</div>
								<button type="submit" class="btn btn-outline-primary">Log in</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

		<% include ./partials/footer %> 
