<% include ./partials/header %>

<div class="container proposal">
	<h1 class="mt-4 mb-3"> Objetivo 
		<small>Eliminar a burocracia</small>
	</h1>
	 <!-- Intro Content -->
      <div class="row">
        <div class="col-lg-6">
          <img class="img-fluid rounded mb-4" src="https://www.bovill.com/wp-content/uploads/2017/07/flat-magnifying-glass-over-document-1.jpg" alt="" style="width:750px; height: 450px;">
        </div>
        <div class="col-lg-6">
          <h2>Cartórios e documentos</h2>
          <p>O sistema atual de cartórios e firmas legais de documentos é extremamente burocrático, lento e custoso. Uma transferência de propriedade ou um contrato entre duas ou mais partes pode levar dias, além de diversas viagens e gastos para ser concluído.</p>
          <p>Dessa forma, o RegistryChain é uma solução que busca inovar a forma como lidamos com documentos e contratos, de forma transparente, responsável e segura.</p>
          <p>Utilizando a tecnologia oferecida pelo avanço da Blockchain, desenvolvemos uma forma de criar e assinar contratos e documentos remotamente, que estarão seguros durante toda a eternidade. Uma vez firmado um contrato, ele poderá ser alterado apenas se ambas as partes estiverem de acordo. Tudo isso, é claro, será sustentado pela assinatura digital única de cada pessoa.</p>
        </div>
      </div>
      <h2>Nosso Time</h2>

      <div class="row">
        <div class="col-lg-3 mb-4">
          <div class="card h-100 text-center">
            <img class="card-img-top" src="http://placehold.it/750x450" alt="">
            <div class="card-body">
              <h4 class="card-title">Gabriel Erzinger</h4>
              <h6 class="card-subtitle mb-2 text-muted">Bla bla bla</h6>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aut mollitia eum ipsum fugiat odio officiis odit.</p>
            </div>
            <div class="card-footer">
              <a href="#">erzingergabriel@outlook</a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 mb-4">
          <div class="card h-100 text-center">
            <img class="card-img-top" src="http://placehold.it/750x450" alt="">
            <div class="card-body">
              <h4 class="card-title">Gabriel Taets</h4>
              <h6 class="card-subtitle mb-2 text-muted">Blablabla</h6>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aut mollitia eum ipsum fugiat odio officiis odit.</p>
            </div>
            <div class="card-footer">
              <a href="#">name@example.com</a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 mb-4">
          <div class="card h-100 text-center">
            <img class="card-img-top" src="http://placehold.it/750x450" alt="">
            <div class="card-body">
              <h4 class="card-title">David Batista</h4>
              <h6 class="card-subtitle mb-2 text-muted">blabla</h6>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aut mollitia eum ipsum fugiat odio officiis odit.</p>
            </div>
            <div class="card-footer">
              <a href="#">name@example.com</a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 mb-4">
          <div class="card h-100 text-center">
            <img class="card-img-top" src="http://placehold.it/750x450" alt="">
            <div class="card-body">
              <h4 class="card-title">Pedro Guemureman</h4>
              <h6 class="card-subtitle mb-2 text-muted">blablala</h6>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aut mollitia eum ipsum fugiat odio officiis odit.</p>
            </div>
            <div class="card-footer">
              <a href="#">name@example.com</a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 mb-4">
          <div class="card h-100 text-center">
            <img class="card-img-top" src="http://placehold.it/750x450" alt="">
            <div class="card-body">
              <h4 class="card-title">Matheus Correa</h4>
              <h6 class="card-subtitle mb-2 text-muted">blabla</h6>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aut mollitia eum ipsum fugiat odio officiis odit.</p>
            </div>
            <div class="card-footer">
              <a href="#">name@example.com</a>
            </div>
          </div>
        </div>
      </div>
      <!-- /.row -->

</div>

<% include ./partials/footer %>