<% include ./partials/header %>
<div class="masthead container-fluid blured">
	<!-- Top content -->
	<div class="top-content">
		
		<div class="inner-bg">
			<div class="container">
				<div class="row">
					<div class="col-sm-7 text">
						<h1>RegistryChain</h1>
						<div class="description">
							<p>
								Se registre uma vez para não preencher nunca mais
							</p>
						</div>
					</div>
					<div class="col-sm-5 form-box">
						<div class="form-bottom">
							<form action="/register" enctype="multipart/form-data" method="POST" class="registration-form" >
								<div class="form-group">
									<label class="sr-only" for="form-first-name">Nome</label>
									<input type="text" name="usr[username]" placeholder="Nome..." class="form-first-name form-control">
								</div>
								<div class="form-group">
									<label class="sr-only">CPF</label>
									<input type="text" name="usr[cpf]" placeholder="CPF..." class="form-last-name form-control" id="form-last-name">
								</div>
								<div class="form-group">
									<label class="sr-only">RG</label>
									<input type="text" name="usr[rg]" placeholder="RG..." class="form-first-name form-control">
								</div>
								<div class="form-group">
									<label class="sr-only" for="form-email">Email</label>
									<input type="text" name="usr[email]" placeholder="Email..." class="form-email form-control">
								</div>
								<div class="form-group">
									<label class="sr-only" for="form-email">Endereço</label>
									<input type="text" name="usr[address]" placeholder="Endereço..." class="form-email form-control">
								</div>
								<div class="form-group">
									<label class="sr-only">Password</label>
									<input type="password" name="usr[pwd]" placeholder="Senha..." class="form-email form-control">
								</div>
								<button type="submit" class="btn btn-outline-primary">Registrar</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

		<% include ./partials/footer %>