<div class="container-fluid blured">
    <div class="row">
    <div class="panel panel-body centered col-10 col-sm-8 col-md-6 col-lg-5 col-xl-4">
        <div class="text-center pb-5">
            <h3>Registre-se</h3>
            <small>Leva só um minuto.</small>
        </div>
		<form (ngSubmit)="onSubmit()" #regForm="ngForm">
            <div class="form-group row">
                <label for="name" class="col-4 col-form-label">Nome</label>
                <div class="col-8">
                    <input type="text" id="name" name="name" placeholder="Nome" class="form-control" [(ngModel)]="user.name" required>
                </div>
            </div>
            <div class="form-group row">
                <label for="cpf" class="col-4 col-form-label">CPF</label>
                <div class="col-8">
                    <input type="text" id="cpf" name="cpf" placeholder="CPF" class="form-control" [(ngModel)]="user.cpf" required>
                </div>
            </div>
            <div class="form-group row">
                <label for="rg" class="col-4 col-form-label">RG</label>
                <div class="col-8">
                    <input type="text" id="rg" name="rg" placeholder="RG" class="form-control" [(ngModel)]="user.rg" required>
                </div>
            </div>
            <div class="form-group row">
                <label for="email" class="col-4 col-form-label">Email</label>
                <div class="col-8">
                    <input type="text" id="email" name="email" placeholder="Email" class="form-control" [(ngModel)]="user.email" required>
                </div>
            </div>
            <div class="form-group row">
                <label for="address" class="col-4 col-form-label">Endereço</label>
                <div class="col-8">
                    <input type="text" id="address" name="address" placeholder="Endereço" class="form-control" [(ngModel)]="user.address" required>
                </div>
            </div>
            <div class="form-group row">
                <label for="wallet" class="col-4 col-form-label">Carteira XRP</label>
                <div class="col-8">
                    <input type="text" id="wallet" name="wallet" placeholder="Endereço XRP" class="form-control" [(ngModel)]="user.wallet">
                </div>
            </div>
            <div class="form-group row">
                <label for="password" class="col-4 col-form-label">Senha</label>
                <div class="col-8">
                    <input type="password" id="password" name="password" placeholder="Senha" class="form-control" [(ngModel)]="password" required>
                </div>
            </div>
            <div class="text-right pt-3">
                <button type="submit" class="btn btn-outline-primary">Registrar</button>
            </div>
		</form>
	</div>
</div>

<div class="modal fade" bsModal #keyModal="bs-modal" tabindex="-1" [config]="{backdrop: 'static'}">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title pull-left">Obrigado por se registrar!</h4>
			</div>
			<div class="modal-body">
                <h5>Essa é sua Chave Pública.</h5>
                <h6>Guarde-a bem, pois ela é necessária para efetuar o login.</h6>
                <div class="text-center">
                    <img id="qrcode" [src]="user.pubkeyurl">
        		</div>
                <p>Caso não tenha acesso a um leitor de QR Code, copie a chave abaixo:</p>
                <div class="text-center">
                    <samp>{{user.pubkey}}</samp>
                </div>
                <div class="text-center pt-3">
                    <button class="btn btn-primary" (click)="keyModal.hide(); router.navigate(['/']);">Continuar</button>
                </div>
			</div>
		</div>
	</div>
</div>
