.container-fluid {
    background-image: url('/assets/background.jpg');
    background-size: 100vw 100vh;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.panel {
    border-radius: 10px;
    border: 1px solid gray;
    border-top: 3px solid gray;
    padding: 20px 70px;
    background-color: white;
    opacity: 0.85;
}

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}
