<nav class="navbar navbar-expand-lg bg-dark">
    <div class="container">
        <a class="navbar-brand" routerLink="/">RegistryChain</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive">
            Menu
            <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav text-uppercase ml-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/">Proposta</a>
                </li>
                <li *ngIf="currUser" class="nav-item">
                    <a class="nav-link" routerLink="/profile">Contratos</a>
                </li>
                <li *ngIf="currUser" class="nav-item">
                    <a class="nav-link" routerLink="/profile">Perfil</a>
                </li>
                <li *ngIf="currUser" class="nav-item">
                    <a class="nav-link" routerLink="/logout">Sair</a>
                </li>
                <li *ngIf="!currUser" class="nav-item">
                    <a class="nav-link" routerLink="/login">Entrar</a>
                </li>
                <li *ngIf="!currUser" class="nav-item">
                    <a class="nav-link" routerLink="/register">Registrar</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
