<div class="container-fluid">
	<!-- Top content -->
	<div class="panel panel-body centered">
		<div class="text-center pb-4">
			<h3>Login</h3>
			<small>Não está cadastrado? <a [routerLink]="['/register']">Registre-se.</a></small>
		</div>
		<form (ngSubmit)="onSubmit()" #loginForm="ngForm">
            <div class="form-group row">
				<label for="pubkey" class="col-sm-5 col-form-label">Chave Pública</label>
            	<div class="col-sm-7">
					<input type="text" id="pubkey" placeholder="Chave Pública" class="form-control" [(ngModel)]="pubkey" name="pubkey" required>
				</div>
            </div>
            <div class="form-group row">
				<label for="password" class="col-sm-5 col-form-label">Senha</label>
				<div class="col-sm-7">
					<input type="password" id="password" placeholder="Senha" class="form-control" [(ngModel)]="password" name="password" required>
				</div>
            </div>
			<div class="text-right pt-3">
				<button type="submit" class="btn btn-outline-primary">Entrar</button>
			</div>
		</form>
	</div>
</div>
