<div class="container">
    <div class="row mx-0 mt-5">
        <div class="col-xl-8 offset-xl-2 col-xs-12 p-3 card">
            <div class="card-body">
                <h4 class="mb-4">Contrato - Casamento</h4>
            	<form (ngSubmit)="onSubmit()" #ccForm="ngForm" *ngIf="!success">
                    <div class="form-group row">
                        <label for="father" class="col-sm-3 col-form-label">Nome do seu pai:</label>
                        <div class="col-sm-9">
                            <input id="father" type="text" class="form-control" name="father" placeholder="Nome do Pai" [(ngModel)]="father" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="mother" class="col-sm-3 col-form-label">Nome da sua Mãe:</label>
                        <div class="col-sm-9">
                            <input id="mother" type="text" class="form-control" name="mother" placeholder="Nome da mãe" [(ngModel)]="mother" required>
                        </div>
                    </div>
            		<div class="form-group row">
            			<label for="counterpartkey" class="col-sm-3 col-form-label">Cônjuge:</label>
            			<div class="col-sm-9 input-group">
                            <input id="counterpartkey" type="text" class="form-control" name="counterpartkey" placeholder="Chave Pública" [(ngModel)]="counterpartkey" required>
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button" (click)="getCounterpart()">Buscar</button>
                            </div>
                        </div>
            		</div>
                    <div *ngIf="counterpart" class="pt-3">
                        <div class="container text-justify card p-3">
                            <h5>Identificação das partes:</h5>
                            <p class="text-center">{{user.name}} &amp; {{counterpart.name}}</p>
                            <div class="form-group row">
                                <label for="street" class="col-sm-3 col-form-label"><strong>Endereço:</strong></label>
                                <div class="col-sm-9">
                                    <input id="street" type="text" class="form-control" name="street" placeholder="Logradouro" [(ngModel)]="address.street" required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="number" class="col-sm-3 col-form-label"><strong>Número:</strong></label>
                                <div class="col-sm-9">
                                    <input id="number" type="number" class="form-control" name="number" placeholder="Número" [(ngModel)]="address.number" required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="neighborhood" class="col-sm-3 col-form-label"><strong>Bairro:</strong></label>
                                <div class="col-sm-9">
                                    <input id="neighborhood" type="text" class="form-control" name="neighborhood" placeholder="Bairro" [(ngModel)]="address.neighborhood" required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="postalCode" class="col-sm-3 col-form-label"><strong>CEP:</strong></label>
                                <div class="col-sm-9">
                                    <input id="postalCode" type="text" class="form-control" name="postalCode" placeholder="CEP" [(ngModel)]="address.postalCode" required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="city" class="col-sm-3 col-form-label"><strong>Cidade:</strong></label>
                                <div class="col-sm-9">
                                    <input id="city" type="text" class="form-control" name="city" placeholder="Cidade" [(ngModel)]="address.city" required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="state" class="col-sm-3 col-form-label"><strong>Estado:</strong></label>
                                <div class="col-sm-9">
                                    <input id="state" type="text" class="form-control" name="state" placeholder="Estado" [(ngModel)]="address.state" required>
                                </div>
                            </div>
                            <br>
                            <div class="row mx-0">
                                <div class="col-sm-10 offset-sm-1 px-5 form-group text-center">
                                    <input id="userSignature" type="password" class="form-control" name="userSignature" placeholder="Chave Privada" [(ngModel)]="userSignature" required>
                                    <label for="userSignature">{{ user.name }}</label>
                                </div>
                            </div>
                        </div>
                		<div class="text-right mt-3">
                            <button type="submit" class="btn btn-primary">Enviar</button>
                        </div>
                    </div>
            	</form>
            </div>
        </div>
    </div>
</div>
