<div class="modal fade" bsModal #contractModal="bs-modal" tabindex="-1">
	<div class="modal-dialog modal-lg" *ngIf="selectedContract">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title pull-left">{{contractTitle}}</h4>
				<button type="button" class="close pull-right" (click)="contractModal.hide()">
					<span>&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="container text-center card p-3">
					<h5>Contrato ID {{selectedContract._id}}</h5>
					<h6>{{selectedContract.status == 'celebrated' ? 'Celebrado em '+ selectedContract.celebrationDate : 'Assinatura(s) pendente(s)'}}</h6>
					<br>
					<h5>Identificação das partes:</h5>
					<div class="card text-justify p-3">
						<p>
							<strong *ngIf="selectedContract.type != 'cue' && selectedContract.type != 'cc'">{{selectedContract.type == 'c2c'? 'Contratante: ':'Vendedor: '}}</strong>
							<span *ngIf="selectedContract.status != 'celebrated'">{{ selectedPart2.user.name }}</span>
						</p>
						<div *ngIf="selectedContract.status == 'celebrated'" class="text-justify pl-3">
							<div class="row mx-0">
								<div class="col-sm-4">
									<strong>Nome:</strong>
								</div>
								<div class="col-sm-8">
									{{selectedPart2.user.name}}
								</div>
							</div>
							<div class="row mx-0">
								<div class="col-sm-4">
									<strong>CPF:</strong>
								</div>
								<div class="col-sm-8">
									{{selectedPart2.user.cpf}}
								</div>
							</div>
							<div class="row mx-0">
								<div class="col-sm-4">
									<strong>RG:</strong>
								</div>
								<div class="col-sm-8">
									{{selectedPart2.user.rg}}
								</div>
							</div>
							<div class="row mx-0" *ngIf="selectedContract.type == 'cc'">
								<div class="col-sm-4">
									<strong>Nome do Pai:</strong>
								</div>
								<div class="col-sm-8">
									{{selectedPart2.parents.fatherName}}
								</div>
							</div>
							<div class="row mx-0" *ngIf="selectedContract.type == 'cc'">
								<div class="col-sm-4">
									<strong>Nome da Mãe:</strong>
								</div>
								<div class="col-sm-8">
									{{selectedPart2.parents.motherName}}
								</div>
							</div>
							<div class="row mx-0">
								<div class="col-sm-4">
									<strong>Endereço:</strong>
								</div>
								<div class="col-sm-8">
									{{selectedPart2.user.address}}
								</div>
							</div>
							<div class="row mx-0">
								<div class="col-sm-4">
									<strong>Email:</strong>
								</div>
								<div class="col-sm-8">
									{{selectedPart2.user.email}}
								</div>
							</div>
						</div>
						<br>
						<p>
							<strong *ngIf="selectedContract.type != 'cue' && selectedContract.type != 'cc'">{{selectedContract.type == 'c2c' ? 'Contratada: ':'Comprador: '}}</strong>
							<span *ngIf="selectedContract.status != 'celebrated'">{{ selectedPart1.user.name }}</span>
						</p>
						<div *ngIf="selectedContract.status == 'celebrated'" class="text-justify pl-3">
							<div class="row mx-0">
								<div class="col-sm-4">
									<strong>Nome:</strong>
								</div>
								<div class="col-sm-8">
									{{selectedPart1.user.name}}
								</div>
							</div>
							<div class="row mx-0">
								<div class="col-sm-4">
									<strong>CPF:</strong>
								</div>
								<div class="col-sm-8">
									{{selectedPart1.user.cpf}}
								</div>
							</div>
							<div class="row mx-0">
								<div class="col-sm-4">
									<strong>RG:</strong>
								</div>
								<div class="col-sm-8">
									{{selectedPart1.user.rg}}
								</div>
							</div>
							<div class="row mx-0" *ngIf="selectedContract.type == 'cc'">
								<div class="col-sm-4">
									<strong>Nome do Pai:</strong>
								</div>
								<div class="col-sm-8">
									{{selectedPart1.parents.fatherName}}
								</div>
							</div>
							<div class="row mx-0" *ngIf="selectedContract.type == 'cc'">
								<div class="col-sm-4">
									<strong>Nome da Mãe:</strong>
								</div>
								<div class="col-sm-8">
									{{selectedPart1.parents.motherName}}
								</div>
							</div>
							<div class="row mx-0">
								<div class="col-sm-4">
									<strong>Endereço:</strong>
								</div>
								<div class="col-sm-8">
									{{selectedPart1.user.address}}
								</div>
							</div>
							<div class="row mx-0">
								<div class="col-sm-4">
									<strong>Email:</strong>
								</div>
								<div class="col-sm-8">
									{{selectedPart1.user.email}}
								</div>
							</div>
						</div>
					</div>
					<br>
					<h5 *ngIf="selectedContract.type == 'cue' || selectedContract.type == 'cc'">Endereço Registrado</h5>
					<div *ngIf="selectedContract.type == 'cue' || selectedContract.type == 'cc'" class="text-justify pl-3 card">
						<div class="row mx-0">
							<div class="col-sm-4">
								<strong>Endereço:</strong>
							</div>
							<div class="col-sm-8">
								{{selectedContract.address.street}}, {{selectedContract.address.number}}
							</div>
						</div>
						<div class="row mx-0">
							<div class="col-sm-4">
								<strong>Bairro:</strong>
							</div>
							<div class="col-sm-8">
								{{selectedContract.address.neighborhood}}
							</div>
						</div>
						<div class="row mx-0">
							<div class="col-sm-4">
								<strong>CEP:</strong>
							</div>
							<div class="col-sm-8">
								{{selectedContract.address.postalCode}}
							</div>
						</div>
						<div class="row mx-0">
							<div class="col-sm-4">
								<strong>Cidade:</strong>
							</div>
							<div class="col-sm-8">
								{{selectedContract.address.city}}
							</div>
						</div>
						<div class="row mx-0">
							<div class="col-sm-4">
								<strong>Estado:</strong>
							</div>
							<div class="col-sm-8">
								{{selectedContract.address.state}}
							</div>
						</div>
				   </div>
					<h5 *ngIf="selectedContract.type == 'cev'">Do Objeto:</h5>
					<div *ngIf="selectedContract.type == 'cev'" class="text-justify pl-3 card">
						<div class="row mx-0">
							<div class="col-sm-4">
								<strong>Bem:</strong>
							</div>
							<div class="col-sm-8">
								{{selectedContract.item.name}}
							</div>
						</div>
						<div class="row mx-0">
							<div class="col-sm-4">
								<strong>Valor:</strong>
							</div>
							<div class="col-sm-8">
								R$ {{selectedContract.item.value}}
							</div>
						</div>
						<div class="row mx-0">
							<div class="col-sm-4">
								<strong>Pagamento:</strong>
							</div>
							<div class="col-sm-8">
								{{selectedContract.paymentMethod}}
							</div>
						</div>
					</div>
					<br *ngIf="selectedContract.type == 'cev'">
					<h5 *ngIf="selectedContract.type == 'c2c' || selectedContract.type == 'cev'">Descrição do contrato:</h5>
					<div *ngIf="selectedContract.type == 'c2c' || selectedContract.type == 'cev'" class="card text-justify p-3">
						<p>{{selectedContract.description}}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
